<div id="dynamicContainer">
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>SelectYears</mat-label>
      <mat-select (selectionChange)="assignComponent($event)">
        <mat-option [value]=""></mat-option>
        <mat-option *ngFor="let year of years" [value]="year.value">
          {{ year.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="years">
    <!--Create container for Dynamic Components -->
    <ng-container #dynamicContainer></ng-container>
    <!--Create container for Dynamic form -->
  </div>
</div>
<form [formGroup]="myform">
  <div class="wrapper" formArrayName="dynamic">
    <ng-template
      *ngFor="let ctrl of childDynamic.controls ; let i = index"
    >
      <div [formGroupName]="i">
        <div class="controls">
          <ng-container *ngFor="let dynamic of dynamicData">
            <app-input
              ngDefaultControl
              [formControlName]="dynamic.key"
              [placeholder]="dynamic.label"
              [type]="dynamic.type"
            ></app-input>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</form>
